/*
    Button uses a gradient that goes from top left to bottom. Should look somewhat decent.
*/


.button {
    -fx-background-color: linear-gradient(to bottom right, #FF0000FF, #9B0000FF);
}

.button:hover {
    -fx-background-color: linear-gradient(to bottom right, #FF40A6FF, #A02095FF);
}

.button:pressed {
    -fx-background-color: linear-gradient(to bottom right, #A04A30FF, #603110FF);
}