.button {
    -fx-background-color: #000000;
    -fx-text-fill: #ffffff;
    -fx-font-size: 20px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-color: #ffffff;
    -fx-border-width: 2px;
    -fx-padding: 10px;
}

.root {
    -fx-background-color: linear-gradient(to bottom right, #d0d0d0, #909090);
}