/*
    Button uses a gradient that goes from top left to bottom. Should look somewhat decent.
*/



.button, .toggle-button {
    -fx-background-color: linear-gradient(to bottom right, #404040, #000000);
    -fx-effect: dropshadow(three-pass-box , rgba(0, 0, 0, 1), 10, 0, 2, 2);


    -fx-text-fill: #ffffff;
    -fx-font-size: 20px;
    -fx-font-family: "Comic Sans MS";

    -fx-font-weight: bold;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-color: #ffffff;
    -fx-border-width: 2px;

    -fx-translate-x: -2;
    -fx-translate-y: -2;

}

.label {
    -fx-text-fill: #ffffff;
    -fx-font-size: 20px;
    -fx-font-family: "Comic Sans MS";
    -fx-font-weight: bold;

}

.credits-text {
    -fx-fill: #ffffff;
    -fx-font-size: 12px;
    -fx-font-family: "sans-serif";
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: linear-gradient(to bottom right, #40a0ff, #2080a0);
}

.button:pressed {
    -fx-background-color: linear-gradient(to bottom right, #3090a0, #104060);
    -fx-effect: innershadow(three-pass-box , rgba(0, 0, 0, 1), 10, 0, 2, 2);
    -fx-translate-x: 0;
    -fx-translate-y: 0;
}

.button:disabled {
    -fx-background-color: linear-gradient(to bottom right, #404040, #000000);
    -fx-text-fill: #808080;
}

/* Toggle button stylesheet used in PuzzleBottomBar */
.toggle-button:hover {
    -fx-background-color: linear-gradient(to bottom right, #40a0ff, #2080a0);
}

.toggle-button:pressed {
    -fx-background-color: linear-gradient(to bottom right, #3090a0, #104060);

    -fx-translate-x: 0;
    -fx-translate-y: 0;
}

.toggle-button:selected {
    -fx-background-color: linear-gradient(to bottom right, #20C759FF, #0A8831FF);
}

.level-button {
    -fx-border-color: #ffffff;
}

.level-button-completed {
    -fx-background-color: linear-gradient(to bottom right, #40ff40, #00a000);
}

.level-button-completed:hover {
    -fx-background-color: linear-gradient(to bottom right, #a0ffa0, #00a000);
}

.level-button-completed:pressed {
    -fx-background-color: linear-gradient(to bottom right, #00a000, #008000);
}

.level-button-new {
    -fx-background-color: linear-gradient(to bottom right, #ffa040, #a0a000);
}

.level-button-new:hover {
    -fx-background-color: linear-gradient(to bottom right, #ffff00, #d0a040);
}

.level-button-new:pressed {
    -fx-background-color: linear-gradient(to bottom right, #a09030, #604010);
}

.level-button-locked, .level-button-locked:hover, .level-button-locked:pressed {
    -fx-background-color: linear-gradient(to bottom right, #101010, #000000);
    -fx-text-fill: #404040;
    -fx-translate-x: -2;
    -fx-translate-y: -2;
}

.dangerous-button {
    -fx-background-color: linear-gradient(to bottom right, #ff4040, #a00000);
}

.dangerous-button:hover {
    -fx-background-color: linear-gradient(to bottom right, #ffa0a0, #a00000);
}

.dangerous-button:pressed {
    -fx-background-color: linear-gradient(to bottom right, #a00000, #800000);
}

/* White border, dark blue gradient, white text */
.general-label {

    -fx-background-color: linear-gradient(to bottom right, #000040, #000000);
    -fx-effect: dropshadow(three-pass-box , rgba(255,255,255,1), 4, 0, 0, 0);

    -fx-text-fill: linear-gradient(to bottom right, #eaeaea, #a0a0a0);
    -fx-font-size: 20px;
    -fx-font-family: "Comic Sans MS";
    -fx-font-weight: bold;
    -fx-border-color: #ffffff;
    -fx-border-width: 2px;
}

.root {
    -fx-background-color: linear-gradient(to bottom right, #d0d0d0, #909090);
}