/*
    Button uses a gradient that goes from top left to bottom. Should look somewhat decent.
*/


.button {
    -fx-background-color: linear-gradient(to bottom right, #404040, #000000);


    -fx-text-fill: #ffffff;
    -fx-font-size: 20px;
    -fx-font-family: "Comic Sans MS";
    -fx-font-weight: bold;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-color: #ffffff;
    -fx-border-width: 2px;
    /*-fx-padding: 10px;*/

}

.button:hover {
    -fx-background-color: linear-gradient(to bottom right, #40a0ff, #2080a0);
}

.button:pressed {
    -fx-background-color: linear-gradient(to bottom right, #3090a0, #104060);
}

/* Toggle button stylesheet used in PuzzleBottomBar */
.toggle-button {
    -fx-background-color: linear-gradient(to bottom right, #404040, #000000);


    -fx-text-fill: #ffffff;
    -fx-font-size: 20px;
    -fx-font-family: "Comic Sans MS";
    -fx-font-weight: bold;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-color: #ffffff;
    -fx-border-width: 2px;
    /*-fx-padding: 10px;*/

}

.toggle-button:hover {
    -fx-background-color: linear-gradient(to bottom right, #40a0ff, #2080a0);
}

.toggle-button:selected {
    -fx-background-color: linear-gradient(to bottom right, #3090a0, #104060);
}

.level-button {
    -fx-border-color: #ffffff;
}

.level-button-completed {
    -fx-background-color: linear-gradient(to bottom right, #40ff40, #00a000);
}

.level-button-completed:hover {
    -fx-background-color: linear-gradient(to bottom right, #80ff80, #00a000);
}

.level-button-completed:pressed {
    -fx-background-color: linear-gradient(to bottom right, #00a000, #008000);
}

.level-button-new {
    -fx-background-color: linear-gradient(to bottom right, #ffa040, #a0a000);
}

.level-button-new:hover {
    -fx-background-color: linear-gradient(to bottom right, #ffff00, #d0a040);
}

.level-button-new:pressed {
    -fx-background-color: linear-gradient(to bottom right, #a09030, #604010);
}

.level-button-locked {
    -fx-background-color: linear-gradient(to bottom right, #101010, #000000);
    -fx-text-fill: #404040;
}

.level-button-locked:hover {
    -fx-background-color: linear-gradient(to bottom right, #151515, #000000);
}

.level-button-locked:pressed {
    -fx-background-color: linear-gradient(to bottom right, #040404, #000000);
}






.root {
    -fx-background-color: linear-gradient(to bottom right, #d0d0d0, #909090);
}